* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

body {
  background-color: #eee; }

@media screen and (min-width: 480px) {
  background-color: #eee; }
@media screen and (min-width: 640px) {
  background-color: #0074d9; }
@media screen and (min-width: 800px) {
  background-color: #39cccc; }
@media screen and (min-width: 1000px) {
  background-color: #2ecc40; }
.menu-controller-checkbox {
  display: none; }

.dropdown .menu-controller-checkbox ~ ul {
  transition: max-height .5s ease; }
.dropdown .menu-controller-checkbox:checked ~ ul {
  max-height: 1000px; }
.dropdown .menu-controller-checkbox ~ .menu-controller-label {
  transition: margin-bottom .5s ease; }
.dropdown .menu-controller-checkbox:checked ~ .menu-controller-label {
  margin-bottom: 1.5rem; }

.dropdown ul {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  max-height: 0;
  overflow: hidden; }
  .dropdown ul a {
    display: block;
    height: 100%;
    width: 100%; }
  .dropdown ul a:link, .dropdown ul a:visited {
    color: #111;
    text-decoration: none; }
  .dropdown ul a:hover {
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: bold; }
  .dropdown ul a:active {
    color: #eee; }
  .dropdown ul li {
    background-color: #ddd;
    display: block;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    text-align: center; }
  .dropdown ul li:last-of-type {
    margin-bottom: 0; }
.dropdown .menu-controller-label {
  background-color: #111;
  color: #eee;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 2.25em;
  padding: .5rem;
  margin: .5rem 0;
  text-align: center; }

h1 {
  font-size: 57px;
  font-family: 'Caveat', sans-serif;
  text-align: center;
  letter-spacing: .5px; }

.home-header {
  color: #eee;
  max-width: 400px; }

.home-header h1 {
  background-color: transparent; }

.home-header p {
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1.1em; }

h2 {
  text-align: center;
  font-family: sans-serif;
  font-transform: uppercase; }

.work-container h2 a {
  text-decoration: none;
  padding: 1rem;
  margin: 1rem; }

.work {
  text-align: center;
  border: 5px #fff solid;
  margin: 1rem; }

.work h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: normal; }

.work p a {
  color: #111;
  text-decoration: none;
  font-family: sans-serif; }

.work p a:hover {
  text-decoration: underline; }

.bio {
  font-size: 24px;
  font-family: 'Caveat', sans-serif; }

.bio p {
  line-height: 1.5em; }

.skills, .education, .software, .experience, .mission {
  font-family: sans-serif; }

footer {
  color: #eee;
  font-family: sans-serif; }

.email {
  color: #111;
  font-size: 1.75em;
  font-family: 'Caveat', sans-serif;
  line-height: 1.75rem; }

.email em {
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: .5rem; }

@media screen and (min-width: 800px) {
  h1 a {
    font-size: 63px; } }
@media screen and (min-width: 1000px) {
  .main-nav ul li a {
    font-size: 26.4px; }

  .home-header h1 {
    font-size: 72px; }

  .bio {
    font-size: 33px; }

  .bio p {
    line-height: 1.2em; } }
@media screen and (min-width: 1400px) {
  .home-header h1 {
    font-size: 108px; }

  .home-header p {
    font-size: 45px; } }
html {
  position: relative; }

h1 {
  background-color: #111; }

h1 a {
  color: #14bb0c;
  text-decoration: none; }

header {
  background-color: #111; }

img {
  max-width: 100%; }

.home-container {
  width: 100%; }

.home-header {
  border: 5px #eee solid;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 400px;
  margin: 2rem auto; }

.angie {
  max-width: 300px;
  margin: auto; }

p {
  line-height: 1.5rem;
  margin: 1rem;
  text-align: center; }

.skills li {
  display: block; }

.desktop-hidden {
  display: none; }

.work article {
  margin: 1rem; }

.visuallyhidden {
  display: none; }

.work-feature {
  max-width: 1200px;
  max-height: 600px;
  margin: 0 auto; }

.work-feature-img {
  object-fit: contain;
  object-position: 50% 50%;
  object-position: 25 25; }

.resume-header, .work-container h2 {
  background-color: #14bb0c;
  font-weight: bolder;
  padding: .5rem;
  margin: .5rem 0; }

.work-container h2 a {
  color: #111;
  font-weight: normal;
  font-size: 1.15rem;
  font-family: sans-serif;
  text-decoration: none; }

.work-container h2 a:hover {
  background-color: #eee;
  font-size: 1.25rem; }

.skills p, .software p {
  line-height: .5rem; }

.education h3, .experience h3 {
  text-align: center;
  margin-top: 1rem; }

.education p, .experience p {
  margin: 0; }

.experience h4 {
  margin: 0;
  text-align: center; }

.home-wrapper {
  min-height: 100%;
  margin-bottom: -30px; }

footer {
  background-color: #111;
  padding: 1rem 0;
  margin-top: .75rem; }

.home-footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

.email {
  background-color: #14bb0c;
  max-width: 385px;
  margin: 1rem auto;
  padding: 1rem; }

@media screen and (min-width: 480px) {
  .dropdown ul {
    font-family: "Raleway", sans-serif;
    font-size: 1.45em;
    margin-top: .75rem;
    max-height: 0;
    overflow: visible; }
    .dropdown ul li {
      background-color: transparent;
      display: inline-block;
      margin: 0 1rem 0 0;
      padding: 0;
      text-align: center; }
    .dropdown ul a {
      display: inline;
      height: 100%;
      width: 100%; }
    .dropdown ul a:link, .dropdown ul a:visited {
      color: #eee;
      text-decoration: none; }
    .dropdown ul a:hover {
      color: #14bb0c;
      font-size: 1em;
      text-decoration: none; }
    .dropdown ul a:active {
      color: #eee; }
  .dropdown .menu-controller-checkbox ~ ul {
    max-height: none;
    overflow: visible;
    text-align: center;
    background-color: #111;
    padding: 1rem; }
  .dropdown .menu-controller-label {
    display: none;
    visibility: hidden; }

  .home-header {
    max-width: 400px;
    top: 30%;
    margin: 30% auto; }

  .angie img {
    margin-top: 1rem; }

  .work {
    position: relative;
    overflow: hidden; }

  .work h2 {
    margin: 1rem 0; }

  .work article {
    float: left;
    width: 50%;
    margin: auto;
    padding: 1rem; }

  .social-nav {
    text-align: center;
    margin: 5rem; }

  .mission p {
    max-width: 500px;
    margin: auto; } }
@media screen and (min-width: 800px) {
  body {
    max-width: 100%;
    margin: auto; }

  .content {
    max-width: 1200px;
    margin: auto; }

  header {
    background-color: #111;
    position: relative;
    height: 5.625rem; }

  h1 {
    float: left;
    width: 45%; }

  .home-header h1 {
    float: none;
    width: 100%; }

  .home-header {
    max-width: 400px;
    margin: 25% auto; }

  .main-nav {
    float: right; }

  .desktop-hidden {
    display: block; }

  .mobile-hidden {
    display: none; }

  section {
    position: relative;
    overflow: hidden; }

  .content-bio {
    width: 800px;
    margin: auto; }

  .angie {
    float: left;
    width: 35%;
    padding-left: 1rem; }

  .bio {
    float: right;
    width: 65%;
    margin-top: 5rem; }

  .bio-1 {
    margin-bottom: 2.25rem; }

  .resume-container {
    position: relative;
    max-width: 1200px; }

  .skills, .education, .software, .experience {
    float: left;
    margin: auto;
    width: 50%;
    height: 23.5rem; }

  .resume-container h2 {
    margin: 1rem; } }
@media screen and (min-width: 1000px) {
  .home-header {
    max-width: 400px;
    margin: 20% auto; }

  .bio {
    margin-top: 3rem; } }
@media screen and (min-width: 1200px) {
  h1 {
    text-align: left;
    padding-left: 2rem; }

  .home-header {
    max-width: 600px;
    margin: 15% auto; }

  .home-header h1 {
    text-align: center;
    padding: 0;
    margin: 0; }

  .content-bio {
    width: 1000px; } }
@media screen and (min-width: 1400px) {
  .home-header {
    margin: 10% auto; } }

/*# sourceMappingURL=css.css.map */
