body {

  background-color: $white;
}

  @include phablet {
    background-color: $white;
  }

  @include tablet {
    background-color: $blue;
  }

  @include laptop {
    background-color: $color-four;
  }

  @include desktop {
    background-color: $color-five;
  }