.dropdown {

  ul {
    font-family: $header-font;
    font-size: 2em;
    max-height: 0;
    overflow: hidden;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    a:link, a:visited {
      color: $black;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      font-size: 1.5em;
      font-weight: bold;
    }

    a:active {
      color: $white;
    }

    li {
      background-color: $silver;
      display: block;
      margin-bottom: $line-height;
      padding: $line-height;
      text-align: center;
    }

    li:last-of-type { 
      margin-bottom: 0; 
    }
  }

  .menu-controller-label {
    background-color: $black;
    color: $white;
    display: block;
    font-family: $header-font;
    font-size: 2.25em;
    padding: .5rem;
    margin: .5rem 0;
    text-align: center;
  }
}