h1 {
	font-size: $font-size-base * 4.75;
	font-family: 'Caveat', sans-serif;
	text-align: center;
	letter-spacing: .5px;
}

h2 {
	text-align: center;
	text-decoration: underline;
}

.bio {
	font-size: $font-size-base *2;
	font-family: 'Caveat', sans-serif;
}

.bio p {
	line-height: 1.5em;
}

@media screen and (min-width: 800px) {

	h1 a {
		font-size: $font-size-base *5.25;
	}
}

@media screen and (min-width: 1000px) {

	ul li {
		font-size: $font-size-base * 2.2;
	}

	.bio {
		font-size: $font-size-base *2.75;
	}

	.bio p {
		line-height: 1.2em;
	}
}