h1 {
	font-size: $font-size-base * 4.75;
	font-family: 'Caveat', sans-serif;
	text-align: center;
	letter-spacing: .5px;
}

.home-header {
	color: $white;
	max-width: 400px;
}

.home-header h1 {
	background-color: transparent;
}

.home-header p {
	font-family: sans-serif;
	font-size: $font-size-base * 2;
	line-height: 1.1em;
}

h2 {
	text-align: center;
	font-family: sans-serif;
	font-transform: uppercase;
}

.work-container h2 a {
	text-decoration: none;
	padding: 1rem;
	margin: 1rem;
}

.work {
	text-align: center;
	border: 5px #fff solid;
	margin: 1rem;
}

.work h2 {
	text-transform: uppercase;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: normal;
}

.work p a {
	color: $black;
	text-decoration: none;
	font-family: sans-serif;
}

.work p a:hover {
	text-decoration: underline;
}

.bio {
	font-size: $font-size-base *2;
	font-family: 'Caveat', sans-serif;
}

.bio p {
	line-height: 1.5em;
}

footer {
	color: $white;
	font-family: sans-serif;
}

.email {
	color: $black;
	font-size: 1.75em;
	font-family: 'Caveat', sans-serif;
	line-height: 1.75rem;
}

.email em {
	font-family: sans-serif;
	font-size: 1.5rem;
	padding: .5rem;
}

@media screen and (min-width: 800px) {

	h1 a {
		font-size: $font-size-base *5.25;
	}
}

@media screen and (min-width: 1000px) {

	.main-nav ul li a {
		font-size: $font-size-base * 2.2;
	}

	.home-header h1 {
		font-size: $font-size-base * 6;
	}

	.bio {
		font-size: $font-size-base *2.75;
	}

	.bio p {
		line-height: 1.2em;
	}
}

@media screen and (min-width: 1400px) {

	.home-header h1 {
		font-size: $font-size-base * 9;
	}

	.home-header p {
		font-size: $font-size-base * 3.75;
	}
}