// clrs.cc

$color-one:    #001f3f;
$color-two:    #0074d9;
$color-three:    #7fdbff;
$color-four:    #39cccc;
$color-five:   #2ecc40;
$navy:    #001f3f;
$blue:    #0074d9;
$aqua:    #7fdbff;
$teal:    #39cccc;
$olive:   #3d9970;
$green:   #b3c855;
$lime:    #01ff70;
$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;
$white:   #eee;
$silver:  #ddd;
$gray:    #bbb;
$black:   #111;

//Google Web Fonts

$copy-font:   'Raleway', sans-serif;
$header-font: 'Slabo 27px', serif;

//Type Rules

$font-size-base: 12px;
$line-height: 1.5rem;

$phablet-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 640px)";
$laptop-width: "screen and (min-width: 800px)";
$desktop-width: "screen and (min-width: 1000px)";
